# https://docs.npmjs.com/misc/developers#keeping-files-out-of-your-package

#tests
test
coverage

#build tools
node_modules

#linters
.jscsrc
.jshintrc
.eslintrc*

#editor settings
.idea
.editorconfig

.babelrc
.gitignore
webpack.config.js

#dev files
src
example